
#social-buttons button {
	color: white;
}
.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}
.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}
.title{
	text-align: center;
	font-weight: bold;
}
h2.slidetitle {
	font-color: black;
}
h2.page-header {
	font-weight: bold;
}
h3.title{
	font-weight: bold;
}
p.italic{
	font-style: italic;
}
.doris {
	padding-left: 50px;
	padding-right: 50px;
	font-family: arial;
}
